{% extends "mobile_base.html" %}

{% block body %}
<nav class="navbar navbar-light bg-light p-3">
    <a class="navbar-brand" style="front-size: 2rem;">ImagePicApp</a>
    <input type="checkbox" class="menu-btn" id="menu-btn">
    <label for="menu-btn" class="menu-icon"><span class="navicon"></span></label>
    <ul class="menu ml-auto">
        <li class="top">
          <a href="/lists" role="button">Gallery</a>
        </li>
        <li>
          <a role="button">
              About
          </a>
        </li>
        <li>
          <a href="/result2" role="button">Key words</a>
        </li>
        <li>
          <a href="#example" role="button">Register</a>
        </li>
        <li>
            <a href="/logout" role="button">Logout</a>
        </li>
      </ul>
</nav>
<!-- header -->
<header>
    <h1 class="headline">
      <h1>About ImagePicApp</h1>
    </h1>
</header>

<tbody>
    <div class="flexbox">
        

        <div class="con">
            <p>ImagePicAppはイラストレーター、絵描き、絵師の方に必須である、資料検索の時間を大幅に短縮してくれます。</p>
            <p>あるモチーフを描くためにせっかく時間をかけて資料を集めたとしても、しばらく期間が空いてから再び同じモチーフを描くときに資料を集めなおすのは時間がもったいないです。かといって、モチーフごとに資料フォルダを作成しているとディレクトリ内が煩雑になりかねません。
                そこでImagePicAppを利用すれば、お使いの端末に保存されている画像にいくつかのキーワードを紐づけてImagePicAppに保存しておくことで、後から共通のキーワードと紐づいた画像を一気に呼び出すことが可能です。</p>
            <h4>1. 画像をアップロードする</h4>
            <p>まずキーワードと紐づけたい画像ファイルをアップロードしましょう。ヘッダーにある＜Register＞をクリックするとページ最下部へ移動します。</p>
            <img src="kabegami/Images/_1_.png" width=100%>
            <p></p><br>
            <p>その後自身のフォルダから画像ファイルを選択してアップロードします。</p>
            <img src="kabegami/Images/_2_.png" width=100%>
            <p></p><br>
            <h4>2. キーワードを登録する</h4>
            <p>アップロードが完了すると、画像のサムネイルとすでに登録されているキーワードが表示されます。キーワード欄を参考にしながらサムネイル下の入力フォームからキーワードを登録してください。
                このとき１度に任意の数のキーワードを登録することが可能ですが、それぞれのキーワードを区切るときには必ず ＜,＞ （カンマ）のみを使用するようにしてください。
            </p>
            <img src="kabegami/Images/_3_.png" width=100%>
            <p></p><br>
            <h4>3. キーワードから検索する</h4>
            <p>いよいよ画像をピックアップしていきましょう。ページ最下部フッター内にある＜choose keyword＞をクリックします。</p>
            <img src="kabegami/Images/_4_.png" width=100%>
            <p></p><br>
            <p>登録されたキーワード一覧が表示されるので、検索したいキーワードのチェックボックスをすべて選択して＜Go＞をクリックしてください。</p>
            <img src="kabegami/Images/_5_.png" width=100%>
            <p></p><br>
            <p>選択したキーワードと紐づいたサムネイルがすべて表示されます。＜Open＞をクリックすることで画像ファイルを開くことが可能です。</p>
            <img src="kabegami/Images/_6_.png" width=100%>
            <p></p><br>
            <h4>4. キーワードを編集する</h4>
            <p>一度登録したキーワードは編集することが可能です。まずサムネイル下の＜Update＞をクリックします。</p>
            <img src="kabegami/Images/_7_.png" width=100%>
            <p></p><br>
            <p>入力フォームに新しいキーワードを登録してupdateをクリックすれば編集完了です。</p>
            <img src="kabegami/Images/_8_.png" width=100%>
            <p></p><br>
            <h4>5. サムネイルを削除する</h4>
            <p>必要のなくなったサムネイルは削除することが可能です。サムネイル下にある＜Delete＞ボタンをクリックすることで削除されます。
                この操作により削除されるのはキーワードとサムネイルのみであり、画像ファイル自体は削除されませんのでご安心ください。</p>
            <img src="kabegami/Images/_9_.png" width=100%>
            <p></p><br>
            <img src="kabegami/Images/_10_.png" width=100%>
            <p></p><br>
            <h4>6. 機能拡張</h4>
            <p>現在ImagePicAppは開発途上であり、より利便性の高い機能獲得の余地を残しています。</p>
            <p>i) キーワードのand / or検索切り替え</p>
            <p>複数のキーワードを選択して画像のピックアップを行ったとき、すべてのキーワードが含まれるサムネイルを表示する場合と、いずれかのキーワードが含まれるサムネイルを表示する場合を選択可能にします。</p>
            <p></p><br>
            <p>ii) 画像の一括選択</p>
            <p>＜Open＞をクリックしたときに１枚の画像だけでなく、選択したいくつかの画像を一括で開けるようにします。</p>
            <p></p><br>
            <p>iii) サムネイルのポップアップ</p>
            <p>サムネイルをクリックしたときにその画像が拡大されるようにします。</p>
            <p></p><br>
            <p>iv) キーワードの検索</p>
            <p>キーワードの数が増えてきたときのために、キーワードの検索機能を追加します。</p>
        </div>
       
    </div>

    
</tbody>

<!-- footer -->
<footer>
    <div class="thum_box">
            
        <div id="example" class="card" style="margin: auto;">
            <h2>Register Keyword</h2>
            <form action="{{url_for('main.result_post')}}" method="POST" enctype="multipart/form-data">
                <input type="file" name="example" accept="image/*"><input type="submit" value="upload">
            </form>
            <br>
        </div>
        <div class="card" style="margin: auto;">
            <h2>Pic up image</h2>
            <table>
                <a class="btn-a-6"  href="/result2" role="button">choose keyword</a>
            </table>
        </div>
    </div>
</footer>
{% endblock %}
