{% extends "mobile_base.html" %}

{% block body %}
<nav class="navbar navbar-light bg-light p-3">
    <a class="navbar-brand" style="front-size: 2rem;">ImagePicApp</a>
    <input type="checkbox" class="menu-btn" id="menu-btn">
    <label for="menu-btn" class="menu-icon"><span class="navicon"></span></label>
    <ul class="menu ml-auto">
        <li class="top">
          <a href="/lists" role="button">Gallery</a>
        </li>
        <li>
          <a href="/about_index" role="button">
              About
          </a>
        </li>
        <li>
          <a href="/result2" role="button">Key words</a>
        </li>
        <li>
          <a href="#example" role="button">Register</a>
        </li>
        <li>
            <a href="/logout" role="button">Logout</a>
        </li>
      </ul>
</nav>
<!-- header -->
<header>
    <h1 class="headline">
      <h1>Register KeyWord</h1>
    </h1>
</header>
<tbody>
    <div> 
        <div class="container" style="text-align: center; margin: auto; background-color: rgba(228, 236, 242, 0.2); box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08), 0 5px 5px 0 rgba(0, 0, 0, 0.1);">
            <form action='/register'>
                
                <div class="card" style="margin: 10px; background-color: rgba(228, 236, 242, 0.2); box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08), 0 5px 5px 0 rgba(0, 0, 0, 0.1); align-items: center;">

                    <img class="card-img" src="{{data[0]}}" alt="Image" onclick="openPopup('{{data[0]}}')">
  
                    <div class="description" style="margin: 1px;">
                        <p></p>
                    </div>
                
                

                    <br>
                    <label>
                        name    
                        <input type="text" name="name" placeholder="image name">
                    </label>
                    <br>
                    <label>
                        key_word    
                        <input type="text" name="key" placeholder="key1,key2,key3,...">
                    </label>
                
                    <button type="submit" class="custom-button" formmethod="POST">register</button>
                </div>
            </form>
            <br>
            <div class="card w-50 mb-3" style="margin: auto; background-color: rgba(228, 236, 242, 0.2); box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08), 0 5px 5px 0 rgba(0, 0, 0, 0.1);">
                <h2>Key words</h2>
                <!-- <div class="card-body">
                    <tbody> -->
                        <ol class="list2">
                            {% for item in list %}
                            <li>
                                <label>{{item}}</label>
                            </li>
                            {% endfor %}
                        </ol>
                        
                    <!-- </tbody>    

                </div> -->
            </div>
           
        </div>
        <div id="popup" class="popup">
            <span class="close" onclick="closePopup()">&times;</span>
            <img class="popup-content" id="popup-img">
        </div>

        <script>
            function openPopup(src) {
                var popup = document.getElementById("popup");
                var popupImg = document.getElementById("popup-img");
                popup.style.display = "block";
                popupImg.src = src;
            }
        
            function closePopup() {
                var popup = document.getElementById("popup");
                popup.style.display = "none";
            }
        </script>
    </div>
    
</tbody>
<!-- footer -->
<footer>
    <div class="thum_box">
            
        <div id="example" class="card" style="width: 35%; margin: auto; padding: auto; align-items: center;">
            <p>Register Keyword</p>
            <table>
                <a class="btn-a-6"  href="/regi_file" role="button">choose file</a>
            </table>
            <br>
        </div>
        <div class="card" style="width: 35%; margin: auto; padding: auto; align-items: center;">
            <p>Pic image up </p>
            <table>
                <a class="btn-a-6"  href="/result2" role="button">choose keyword</a>
            </table>
        </div>
    </div>
</footer>
{% endblock %}
