{% extends "base.html" %}

{% block body %}
<nav class="navbar navbar-light bg-light p-3">
    <a class="navbar-brand" href="/" style="front-size: 2rem;">ImagePicApp</a>
    <ul class="nav-list" style="margin: 0px;">
        <li class="nav-list-item">
          <a class="btn-a-9" href="/lists" role="button">Gallery</a>
        </li>
        <li class="nav-list-item">
          <a class="btn-a-11" href="/about_index" role="button">
              About
          </a>
        </li>
        <li class="nav-list-item">
          <a class="btn-a-10" href="/result2" role="button">Key words</a>
        </li>
        <li>
          <a class="btn-a-12" href="#example" role="button">Register</a>
        </li>
        <li>
            <a class="btn-a-13" href="/logout" role="button">Logout</a>
        </li>
      </ul>
</nav>
<!-- header -->
<header>
    <h1 class="headline">
      <h1>Result</h1>
    </h1>
</header>
<tbody>
    <div class="flexbox">
        <div class="container">
            {% for item in data %}
            <div class="card" style="margin: auto;">
               
            
                <img class="card-img" src="{{item[0]}}" alt="Image" onclick="openPopup('{{item[0]}}')">
                
                <div class="discription"><p>a</p></div>
                <p>{{item[1]}}</p>
                <ul>
                    <li>
                        <a class="btn-a-8"  href="/update/{{item[3]}}" role="button">Update</a>
                    </li>
                    <!-- <li>
                        <a class="btn-a-6"  href="/open_image/{{item[3]}}" role="button">Open</a>
                    </li> -->
                    <li>
                        <a class="btn-a-7"  href="/delete/{{item[3]}}" role="button">Delete</a>
                    </li>
                </ul>
                
             
            </div>
        
            {% endfor %}
        </div>
        <div id="popup" class="popup">
            <span class="close" onclick="closePopup()">&times;</span>
            <img class="popup-content" id="popup-img">
        </div>

        <script>
            function openPopup(src) {
                var popup = document.getElementById("popup");
                var popupImg = document.getElementById("popup-img");
                popup.style.display = "block";
                popupImg.src = src;
            }
        
            function closePopup() {
                var popup = document.getElementById("popup");
                popup.style.display = "none";
            }
        </script>
        <!-- <a href="/lists" role="button">Back to TopPage</a> -->
    </div>
</tbody>
<!-- footer -->
<footer>
    <div class="thum_box">
            
        <div id="example" class="card" style="margin: auto;">
            <h2>Register Keyword</h2>
            <form action="{{url_for('main.result_post')}}" method="POST" enctype="multipart/form-data">
                <input type="file" name="example" accept="image/*"><input type="submit" value="upload">
            </form>
            <br>
        </div>
        <div class="card" style="margin: auto;">
            <h2>Pic up image</h2>
            <table>
                <a class="btn-a-6"  href="/result2" role="button">choose keyword</a>
            </table>
        </div>
    </div>
</footer>
{% endblock %}
