{% extends "base.html" %}

{% block body %}
<nav class="navbar navbar-light bg-light p-3">
    <a class="navbar-brand" href="/" style="front-size: 2rem;">ImagePicApp</a>
    <ul class="nav-list" style="margin: 0px;">
        <li class="nav-list-item">
          <a class="btn-a-9" role="button">Gallery</a>
        </li>
        <li class="nav-list-item">
          <a class="btn-a-11" href="/about_index" role="button">
              About
          </a>
        </li>
        <li class="nav-list-item">
          <a class="btn-a-10" href="/result2" role="button">Key words</a>
        </li>
        <li>
          <a class="btn-a-12" href="#example" role="button">Register</a>
        </li>
      </ul>
</nav>
<!-- header -->
<header>
    <h1 class="headline">
      <h1>GALLERY</h1>
    </h1>
</header>

<body>
    <h1>Welcome to Firebase Flask App</h1>
    <p><a href="{{ url_for('main.login') }}">Login</a> | <a href="{{ url_for('main.signup') }}">Sign Up</a></p>
</body>
</html>
<br>


{% endblock %}
