{% extends "base.html" %}

{% block body %}
<nav class="navbar navbar-light bg-light p-3">
    <a class="navbar-brand" href="/" style="front-size: 2rem;">ImagePicApp</a>
    <ul class="nav-list" style="margin: 0px;">
        <li class="nav-list-item">
          <a class="btn-a-9" href="/lists" role="button">Gallery</a>
        </li>
        <li class="nav-list-item">
          <a class="btn-a-11" href="/about_index" role="button">
              About
          </a>
        </li>
        <li class="nav-list-item">
          <a class="btn-a-10" role="button">Key words</a>
        </li>
        <li>
          <a class="btn-a-12" href="#example" role="button">Register</a>
        </li>
        <li>
            <a class="btn-a-13" href="/logout" role="button">Logout</a>
        </li>
      </ul>
</nav>
<!-- header -->
<header>
    <h1 class="headline">
      <h1>Choose KeyWord</h1>
    </h1>
</header>
<form action='/row_image'>
    
    <div class="card w-50 mb-3" style="min-height: 400px; margin: auto; background-color: rgba(228, 236, 242, 0.2); box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08), 0 5px 5px 0 rgba(0, 0, 0, 0.1);">
        <div class="card-body">
            <tbody>
                <ol class="list2">
                    {% for item in list %}
                    <li>
                        <input type="checkbox"  name="check" value="{{item}}">
                        <label>{{item}}</label>
                    </li>
                    {% endfor %}
                </ol>
                
            </tbody>    
            <br>
            <div class="button-container2">
                <button type="submit" class="custom-button2" formmethod="POST">GO</button>
            </div>
            <br>
            <!-- <a href="/" role="button">Back to TopPage</a> -->
        </div>
    </div>
    
</form>
<!-- footer -->
<footer>
    <div class="thum_box">
            
        <div id="example" class="card" style="width: 35%; margin: auto; padding: auto; align-items: center;">
            <p>Register Keyword</p>
            <table>
                <a class="btn-a-6"  href="/regi_file" role="button">choose file</a>
            </table>
            <br>
        </div>
        <div class="card" style="width: 35%; margin: auto; padding: auto; align-items: center;">
            <p>Pic image up </p>
            <table>
                <a class="btn-a-6"  href="/result2" role="button">choose keyword</a>
            </table>
        </div>
    </div>
</footer>
{% endblock %}
