{% extends "base.html" %}

{% block body %}
<nav class="navbar navbar-light bg-light p-3">
    <a class="navbar-brand" href="/" style="front-size: 2rem;">ImagePicApp</a>
    <ul class="nav-list" style="margin: 0px;">
        <li class="nav-list-item">
          <a class="btn-a-9" href="/" role="button">Gallery</a>
        </li>
        <li class="nav-list-item">
          <a class="btn-a-11" href="/about_index" role="button">
              About
          </a>
        </li>
        <li class="nav-list-item">
          <a class="btn-a-10" href="/result2" role="button">Key words</a>
        </li>
        <li>
          <a class="btn-a-12" href="#example" role="button">Register</a>
        </li>
      </ul>
</nav>
<!-- header -->
<header>
    <h1 class="headline">
      <h1>Update Keyword</h1>
    </h1>
</header>
<tbody>
    <div class="flexbox">
        <div class="container">
            <div class="card" style="margin: auto;">
            
                <h2 class="card-title">{{ data[0][1] }}</h2>
                
                <img class="card-img" src="../kabegami/{{data[0][1]}}">
                <div>a</div>
                <div>a</div>
                <div>a</div>
                <div>
                    <form action="/update/{{ data[0][0] }}" method="POST">
                        <label>new keyword</label>
                        <input type="text" name="key_word" value="{{ data[0][2] }}">
                        <button type="submit">update</button>
                    </form>
                </div>
                <br>
            </div>
        </div>
    </div>
   
   
    <a href="/lists" role="button">Back to TopPage</a>
</tbody>
<!-- footer -->
<footer>
    <div class="thum_box">
            
        <div id="example" class="card" style="margin: auto;">
            <h2>Register Keyword</h2>
            <form action="{{url_for('main.result_post')}}" method="POST" enctype="multipart/form-data">
                <input type="file" name="example" accept="image/*"><input type="submit" value="upload">
            </form>
            <br>
        </div>
        <div class="card" style="margin: auto;">
            <h2>Pic up image</h2>
            <table>
                <a class="btn-a-6"  href="/result2" role="button">choose keyword</a>
            </table>
        </div>
    </div>
</footer>
{% endblock %}
